<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Bootswatch: Free themes for Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/fonts/sourcesanspro.css">

<body id="home" style="margin-top: -15px">
    <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title modal-name" id="signup"><span>WOW! SIGN UP NOW!</span><label>Have account? <a type="button" data-toggle="modal" data-target="#signin" href="#" onclick="$('#signup').modal('hide')">Sign IN!</a></label></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align: center">
                    <img src="/static/images/1/logo.png">
                    <div style="margin-top: 35px;" class="row justify-content-center">
                        <div class="col-lg-10">


                            <form class="form-signin" role="form" method="post" action="">
                              {{ form.csrf_token }}
                             <div class="form-group form-group1">
                                <div class="input-group input-group1 mb-3">
                                    <div class="input-group-prepend input-group-prepend1">
                                        <span class="input-group-text input-group-text1"><img id="login" src="/static/images/login.png"></span>
                                    </div>
                                    <input id="login"   class="form-control form-control1" name="login" placeholder="Login" required="" type="text" value="">

                                </div>
                                  <span class="error">
                                      {% if form.login.errors %}
                                        {% for error in form.login.errors %}
                                          {{ error }}
                                        {% endfor %}
                                      {% endif %}
                                </span>
                            </div>

                             <div class="form-group form-group1">
                                <div class="input-group input-group1 mb-3">
                                    <div class="input-group-prepend input-group-prepend1">
                                        <span class="input-group-text input-group-text1"><img id="email" src="/static/images/email.png"></span>
                                    </div>
                                    <input id="email"  class="form-control form-control1" name="email" placeholder="E-Mail" required="" type="text" value="">

                                </div>
                                  <span class="error">
                                      {% if form.email.errors %}
                                        {% for error in form.email.errors %}
                                          {{ error }}
                                        {% endfor %}
                                      {% endif %}
                                    </span>
                            </div>

                            <div class="form-group form-group1">
                                <div class="input-group input-group1 mb-3">
                                    <div class="input-group-prepend input-group-prepend1">
                                        <span class="input-group-text input-group-text1"><img id="password" src="/static/images/password.png"></span>
                                    </div>
                                <input id="password"  class="form-control form-control1" name="password" placeholder="password" required="" type="password" value="">

                                </div>
                                 <span class="error">
                                      {% if form.password.errors %}
                                        {% for error in form.password.errors %}
                                          {{ error }}
                                        {% endfor %}
                                      {% endif %}
                                    </span>
                            </div>

                               <div class="form-group form-group1">
                                <div class="input-group input-group1 mb-3">
                                    <div class="input-group-prepend input-group-prepend1">
                                        <span class="input-group-text input-group-text1"><img id="password" src="/static/images/password.png"></span>
                                    </div>
                                     <input id="confirm" name="confirm" class="form-control form-control1" placeholder="Confirm" required="" type="password" value="">

                                </div>
                                     <span class="error">
                                      {% if form.confirm.errors %}
                                        {% for error in form.confirm.errors %}
                                          {{ error }}
                                        {% endfor %}
                                      {% endif %}
                                    </span>
                            </div>

                            <button class="btn btn-primary btn-sale"  type="submit" style="margin-top: 25px;">SIGN UP</button>
                            <div style="float: right">
                                <a href="" class="btn btn-link btn-is">Do to have any account?</a>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title modal-name" id="signin"><span>WOW! SIGN IN NOW!</span><label>Not a member? <a type="button" data-toggle="modal" data-target="#signup" href="#" onclick="$('#signin').modal('hide')">Sign UP!</a></label></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align: center">
                    <img src="/static/images/1/logo.png">
                    <div style="margin-top: 35px;" class="row justify-content-center">
                        <div class="col-lg-10">
                            <form class="form-login" role="form" method="post" action="">
                             {{ form.csrf_token }}
                            <div class="form-group form-group1">
                                <div class="input-group input-group1 mb-3">
                                    <div class="input-group-prepend input-group-prepend1">
                                        <span class="input-group-text input-group-text1"><img id="login" src="/static/images/login.png"></span>
                                    </div>
                                <input id="login"  class="form-control form-control1" name="login" placeholder="Login" required="" type="text" value="">
                                </div>
                                  <span class="error">
                                      {% if form2.login.errors %}
                                        {% for error in form2.login.errors %}
                                          {{ error }}
                                        {% endfor %}
                                      {% endif %}
                                </span>
                            </div>
                            <div class="form-group form-group1">
                                <div class="input-group input-group1 mb-3">
                                    <div class="input-group-prepend input-group-prepend1">
                                        <span class="input-group-text input-group-text1"><img id="password" src="/static/images/password.png"></span>
                                    </div>
                                      <input id="password"  class="form-control form-control1" name="password" placeholder="password" required="" type="password" value="">
                                </div>
                                   <span class="error">
                                      {% if form2.password.errors %}
                                        {% for error in form2.password.errors %}
                                          {{ error }}
                                        {% endfor %}
                                      {% endif %}
                                    </span>
                            </div>
                            <div style="float: right; margin-bottom: 25px;">
                                <a href="" class="btn btn-link btn-is">Forgot the password?</a>
                            </div>
                            <button class="btn btn-primary btn-sale" style="margin-top: 25px;">SIGN UP</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg_header">
        <div class="navbar navbar-expand-lg navbar-light navbar-transparent">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <a href="" class="navbar-brand"><img src="/static/images/1/logo.png"></a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://blog.bootswatch.com">Discover</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://blog.bootswatch.com">What we do</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://blog.bootswatch.com">Opportunites</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <button class="signin" type="button" data-toggle="modal" data-target="#signin"><span>Sign in</span> <label><label></label></label></button>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="about container" style="margin-top: 71px">
            <div class="row justify-content-end">
                <div class="col-lg-6">
                    <div class="about__header">
                        <h1>Your best title here now! Wow</h1>
                        <span>Buy safely, pay fast & join to <label>discord</label></span>
                    </div>

                    <div class="about__body row">
                        <div class="about__body--item col-lg-4">
                            <span>40 <label class="percent">%</label></span>
                            <label>Lorem ipsum, lora ne moya ipsum, nice lorem ipsum</label>
                        </div>
                        <div class="about__body--item col-lg-4">
                            <span><label>x</label> 6</span>
                            <label>Lorem ipsum, lora ne moya ipsum, nice lorem ipsum</label>
                        </div>
                        <div class="about__body--item col-lg-4">
                            <span><label>></label> 80</span>
                            <label>Lorem ipsum, lora ne moya ipsum, nice lorem ipsum</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="second--main container second" style="max-width: 1140px">
        <div class="row justify-content-start">
            <div class="col-lg-6">
                <div class="second__header">
                    <span>Your title text here!</span>
                    <h1>Your best title here now! Wow</h1>
                </div>

                <div class="list__body">
                    <div class="list__body--item">
                        <div class="icon list-1"></div>
                        <div class="desc">We buy at a good price that no site can offer.<br>Also, you do not need to spend time communicating with people.</div>
                    </div>
                    <div class="list__body--item">
                        <div class="icon list-2"></div>
                        <div class="desc">We can sell game currency very quickly and conveniently for you.<br>You can get paid immediately after the sale.</div>
                    </div>
                    <div class="list__body--item">
                        <div class="icon list-3"></div>
                        <div class="desc">We work with large projects that are ready to implement your <br>robux so you implement everything and get the money.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="third">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-lg-6">
                    <div class="list__body">
                        <div class="list__body--item">
                            <div class="icon list-4"></div>
                            <div class="desc">We use an individual proxy for each large supplier. <br>(10000+) Otherwise, the proxy will be divided into<br>
                                several people.</div>
                        </div>
                        <div class="list__body--item">
                            <div class="icon list-5"></div>
                            <div class="desc">If you always use your address, afraid of blocking, you<br>
                                can use your proxy. This will make your risks minimal.</div>
                        </div>
                        <div class="list__body--item">
                            <div class="icon list-6"></div>
                            <div class="desc">The site was created by people who have proven their<br>
                                integrity in the roblox community, so you can be sure <br>
                                that no one will deceive you.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>(c) Copyright 2019. Robuxship Co.</p>
    </footer>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
    $("input").focus(function() {
        if (!$(this).is('.form-control1')) return false;
        $(this).parent().css({
            'border-bottom': '1px solid #00b1ff'
        });
        $(this).parent().find('.input-group-prepend1').find('span').find('img').attr('src', $(this).parent().find('.input-group-prepend1').find('span').find('img').attr('src').replace('.png', '1.png'));
    });
    $("input").focusout(function() {
        if (!$(this).is('.form-control1')) return false;
        $(this).parent().css({
            'border-bottom': '1px solid #bebebe'
        });

        $(this).parent().find('.input-group-prepend1').find('span').find('img').attr('src', $(this).parent().find('.input-group-prepend1').find('span').find('img').attr('src').replace('1.png', '.png'));
    });

    </script>
</body>

</html>
